fastapi>=0.104.0
uvicorn[standard]>=0.24.0
pydantic>=2.0
pillow==9.5.0
numpy==1.26.2
python-multipart==0.0.6
insightface==0.7.3
onnxruntime==1.15.1
opencv-python==4.8.0.74
pymongo==4.4.1
leverparser
pdfplumber
python-docx
python-dotenv
requests
transformers
torch
datasets
seqeval
spacy

